/**
 * The less CSS is splitted accross different files for a better organisation.
 *
 * This is the main less css file that defines custom values and requires all
 * the the neccessary dependencies.
 */
/**
 * THE CODE BELOW IS REQUIRED TO MAKE HTML2PRINT WORK.
 */
/**
 * Defines and loads the rules that set the geometry of the page and its
 * representation on screen. This is the core of html2print.
 *
 * Customize the variables to your needs.
 */
/* the geometry of the page */
/* the size of the crop marks based on scribus defaults */
/* the size of bleed */
/* loads the core less file */
/**
 * Computation
 */
/* computes the edge size of the paper, which is the sum of the bleed and the
 * crop sizes */
/* Computes the size of the paper sheet */
/**
 * DEFINITION OF THE PAPER SHEET
 */
/**
 * The @page CSS at-rule is used to define some properties of printed
 * documents. We make it the size of the elements with the .paper class and
 * remove any margins so they don't add up with margins specifed in elements
 * with the .page class (or it's children, like .header, .body and .footer)
 * 
 * We add 2pt to circumvent a rounding number bug in some browsers that make
 * them include extra pages or shifts.
 */
@page {
  size: 578pt 750pt;
  margin: 0;
}
/**
 * CANVAS
 */
@media all {
  body {
    margin: 0;
    /* Activate opentype features and kernings */
    -webkit-font-feature-settings: "liga", "dlig", "clig", "kern";
    text-rendering: optimizeLegibility;
  }
  .paper {
    width: 578pt;
    height: 748pt;
    box-sizing: border-box;
    /* defines a named counter and increments it every page, so we can use
         * it to compute the page number */
    counter-increment: folio;
    /* makes sure that pages aren't cut because of pootential unprecise unit
         * conversion at printing time */
    page-break-inside: avoid;
    page-break-after: always;
    /* clips the content if it goes out of the page, so it doesn't increase
         * the format */
    overflow: hidden;
    /* Crop marks */
    padding: 48pt;
    position: relative;
    /* Crop marks */
    background-image: -webkit-linear-gradient(90deg, black 0, black 100%), -webkit-linear-gradient(0deg, black 0, black 100%), -webkit-linear-gradient(90deg, black 0, black 100%), -webkit-linear-gradient(0deg, black 0, black 100%), -webkit-linear-gradient(90deg, black 0, black 100%), -webkit-linear-gradient(0deg, black 0, black 100%), -webkit-linear-gradient(90deg, black 0, black 100%), -webkit-linear-gradient(0deg, black 0, black 100%);
    background-size: 34pt 1px, 1px 34pt, 34pt 1px, 1px 34pt, 34pt 1px, 1px 34pt, 34pt 1px, 1px 34pt;
    background-position: left 48pt, 48pt top, right 48pt, 530pt top, right 700pt, 530pt bottom, left 700pt, 48pt bottom;
    background-repeat: no-repeat;
  }
  .page {
    /* defines the page size */
    width: 482pt;
    height: 652pt;
    /* allows for absolutely positioned elements as settings the position
         * property to relative as the side effect of making this elements
         * top-left corner the reference point */
    /*position: relative;*/
    position: absolute;
  }
  .spread .paper {
    float: left;
  }
  .spread:not(.facing) .paper:nth-child(odd) {
    margin-left: -48pt;
  }
  .spread:not(.facing) .paper:nth-child(even) {
    margin-right: -48pt;
  }
  .spread:not(.facing) .paper:first-child {
    margin-left: 482pt;
  }
  .spread.facing .paper:nth-child(even) {
    margin-right: initial;
    margin-left: -48pt;
  }
  .spread.facing .paper:nth-child(odd) {
    margin-left: initial;
    margin-right: -48pt;
  }
  .spread.facing .paper:first-child {
    margin-left: 0;
  }
}
@media screen {
  /* defines the background color of the workspace */
  /* UI */
  body {
    background-color: #F0F0F0;
  }
  #pages {
    width: 578pt;
    height: 748pt;
    margin-left: auto;
    margin-right: auto;
  }
  /* FIXME: allows for printing spreads as well */
  .spread #pages {
    width: 1156pt;
    height: 1496pt;
  }
  .paper {
    /* centrer la page à l'écran */
    /* UI */
    background-color: white;
    /* UI */
    margin-top: 1em;
    /* UI */
    margin-bottom: 1em;
  }
  /* UI */
  .normal .page {
    outline: 1px dotted lightsalmon;
  }
  /* UI */
  .preview .paper {
    background: transparent;
  }
  /* UI */
  .preview .page {
    outline: 1px solid lightgray;
    background-color: white;
    overflow: hidden;
  }
}
@media print {
  html {
    width: 578pt;
  }
  body {
    /* Allows for background colors printing */
    background-color: transparent;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
/**
 * Helpers
 */
.region-break {
  /* Apply this class to an element to put it on a new region.
     * Hint:
     * You can also use an empty <div class="page-break"></div>
     * if you want to put manual page breaks without attaching it to an HTML element
     */
  -webkit-region-break-before: always;
}
